.container {
  max-width: 1150px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.container-big {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.fidbak__container-big {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

